.outerDiv {
    width: fit-content;
    height: fit-content;
    background-color: #3c6250;
    margin: 2rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 2rem;
    color: #fff;
    font-size: 2rem;
    text-align: start;
    padding-bottom: 2rem;

}

h2 {
    margin-bottom: 0.5rem;
    color: #b8f3dd;
    font-size: 2rem;
}

.vitals {
    padding-top: 1.5rem;
    font-size: 1rem;
}

.note {
    font-size: 1rem;
}

img {
    margin-block-start: 2rem;

}