.Virtuoso {
    width: fit-content;
    height: fit-content;
    background-color: #3c6250;
    margin: 2rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 2rem;
    color: #fff;
    font-size: 1rem;
    text-align: start;
    padding-bottom: 2rem;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #b8f3dd;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #b8f3dd;
}

::-webkit-scrollbar-thumb {
    background: #3c6250;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #325243;
}